<header class="top-bar">
  {{#link-to 'index'}}<h1 class="logo">Fan Score</h1>{{/link-to}}
  <button class="menu-button" {{action 'toggleMenu'}}>
    <span class="icon icon-menu"></span>
  </button>
</header>
<nav class="menu {{menuHidden}}">
  <ul>
    <li>{{link-to 'Home' 'index'}}</li>
    <li>{{link-to 'Teams' 'teams'}}</li>
  </ul>
</nav>
{{outlet}}
