<div class="team-page {{model.cssClass}}">
  <div class="primary-header"></div>
  <div class="score">
    <div class="score-text">{{model.fanScore}}</div>
  </div>
  <div class="score-content">
    <div class="score-text">{{model.name}}</div>
    
  </div>
</div>
<h2>Fans</h2>
{{#each model.fans as |fan|}}
  {{#link-to 'fan' fan.id}}
    <div class="fan">
      <div class="name">{{fan.name}}</div>
      <div class="score">{{fan.fanScore.score}}</div>
    </div>
  {{/link-to}}
{{/each}}
